/* 
From:
https://codepen.io/devuri/pen/aaqZqZ
License: MIT
*/


/* MODAL FADE LEFT RIGHT BOTTOM */

.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

.modal-right>.modal-dialog {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 33%;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    max-height: 100%;
}

.modal.left .modal-dialog {
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0;
}

.modal.left .modal-dialog.modal-sm {
    max-width: 300px;
}

.modal.left .modal-content,
.modal-right>*>.modal-content {
    min-height: calc(100vh - 60px);
    border: 0;
}

.modal-bright-backdrop {
    /* So it doesn't oclude the view, nor using inspect element */
    background-color: transparent;
    z-index: -1;
}

.EntityViewer {
    background-color: transparent;
    overflow-y: scroll;
}

.EntityViewerFrame {
    display: grid;
    grid-template-columns: 3px max-content;
    min-width: 3px;
    max-width: 50%;
    position: absolute;
    right: 0px;
    background-color: rgba(100, 100, 100, 0.3);
    background-blend-mode: screen;
    box-shadow: rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid grey;
    max-height: 50vh;
    overflow-y: scroll;
}

.EntityViewerResize {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.EntityViewerResize:hover {
    background-color: green;
    border-left: 3px solid green;
    border-right: 3px solid green;
    cursor: ew-resize;
}

.modal {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}