
.COutPoint {
}
.COutPoint > * {
    padding: 0.5em;
}
.Spend {
}
.Spend > * {
    padding: 0.5em;
}

.Spend > *> .truncate {
    width: 16em;
}

.UTXODetail {
}
.UTXODetail > h1,h3,h4,h5 {
    text-align: center;
}

.TXIDDetail {
    justify-content: center;
    align-items: center;
}
.TXIDDetail > * {
    padding: 0;
    width:100%;
    border: 1px transparent none;
    
}

.TXIDDetail > *> code{
    width: 16em;
    max-width: 90%;
}
