.InputDetail {
}

.InputDetail > * {
    padding-top: 1em;
}

.InputDetailSequence {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.InputDetailOutpoint {
}

.InputDetailScriptSig {
}

.SavePSBT {
    color: red;
}

.SignPSBT {
    color: yellow;
}

.CombinePSBT {
    color: magenta;
}

.BroadcastPSBT {
    color: orange;
}

.InputDetailPSBT {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.PSBTActions {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, min-content) max-content;
    grid-column-gap: 1em;
}
