.InputDetail {}

.InputDetailSequence {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.InputDetailOutpoint {}

.InputDetailScriptSig {}

.InputDetailPSBT {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column-gap: 1em;
}

.SavePSBT {
    color: red;
}

.SignPSBT {
    color: yellow;
}

.CombinePSBT {
    color: magenta;
}

.BroadcastPSBT {
    color: orange;
}

.PSBTActions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
}