.COutPoint {}

.COutPoint>* {
    padding: 0.5em;
}

.Spend {
    display: grid;
    grid-template-columns: 16em 1fr;
}

.Spend>* {
    padding: 0.5em;
}

.Spend>.truncate {
    width: 16em;
}

.UTXODetail {
    padding: 10px;
}

.UTXODetail>h1,
h3,
h4,
h5 {
    text-align: center;
}

.TXIDDetail {
    justify-content: center;
    align-items: center;
}

.TXIDDetail>* {
    padding: 0;
    width: 100%;
    border: 1px transparent none;
}

.TXIDDetail>*>code {
    width: 16em;
    max-width: 90%;
}