.AppSelectorGrid {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}
.AppSelectorGrid > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
}
.back {
}
.middle {
}
.forward {
}

.AppTile {
    padding: 20px;
}