.MiniscriptCompiler {
    padding: 50px;
    max-width: 100%;
    overflow: hidden;
}

.CompilerOutput {
    max-width: 50%;
}

.PathRow {
    white-space: pre-wrap;
    word-break: break-word;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
