@keyframes ants {
    to {
        background-position: 100% 100%;
    }
}

.PortsContainerTop {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
}

.PortsContainerTop>div>:nth-child(2) {
    display: none;
}

.PortsContainerTop {}

.PortsContainerBottom {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
}

.PortsContainerBottom>* {
    flex: 0 1 20%;
}

.TransactionNode {
    display: grid;
    grid-template-columns: 1fr auto;
}

.port {
    background-color: transparent !important;
}

.port>* {
    background-color: transparent !important;
}