@keyframes ants {
    to {
        background-position: 100% 100%;
    }
}

.PortsContainerUTXOTop {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
}

.PortsContainerUTXOTop {
}

.PortsContainerUTXOBottom {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
}

.PortsContainerUTXOBottom > * {
    flex: 0 1 20%;
}
