@keyframes ants {
    to {
        background-position: 100% 100%;
    }
}

.PortsContainer2 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
}
.PortsContainer2 > * {
    flex: 0 1 20%;
}
