.App {
  height: 100%;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.txhex {
width : 100%;
}
.txcontainer {
background-color: lightgrey;
}
.utxocontainer {
background-color: lightgrey;
}
.viewer {
height:50%;
}
.App > .area {
  display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
}

.App > .area > .area-inner {
  display: grid;
    grid-template-columns: 1fr max-content;
    height: 100%;
}

.main-container {
    height: 100%;
    display: grid;
}

.main-container > .row {
    height: 100%;
    width:100%;
}
