.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.txhex {
    width: 100%;
}

.txcontainer {
    background-color: lightgrey;
}

.utxocontainer {
    background-color: lightgrey;
}

.viewer {
    height: 50%;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.App {
    height: 100vh;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 1fr auto;
}

.App-area {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.App-gutter {
    min-height: 2em;
    height: max-content;
}

.area-nav {
    width: 200px;
}

.area-inner {
    width: calc(100vw - 200px);
}

.area-overlays {
    position: absolute;
    bottom: 0px;
}

.main-container {
    height: 100%;
    display: grid;
}

.main-container > .row {
    height: 100%;
    width: 100%;
}

.row {
    width: 100%;
}

.wallet-container {
    height: 100%;
    width: 100%;
}

.settings-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    height: 100%;
}
